name: build-test
on: 
  push:
  workflow_dispatch:
  pull_request:
jobs:
  validate:
    name: Format and Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install clippy
        run: rustup component add clippy
      - name: Run cargo fmt
        run: cargo fmt --all -- --check
      - name: Run cargo clippy
        run: make lint

  test-windows:
    name: Windows Unit Tests
    runs-on: windows-2025
    steps:
      - name: Install postgres
        env:
          PSQL_PACKAGE_ID: PostgreSQL.PostgreSQL.17
          PSQL_SERVICE_NAME: postgresql-x64-17
        shell: pwsh
        run: |
          winget install $env:PSQL_PACKAGE_ID --accept-package-agreements --accept-source-agreements
          Start-Service -Name $env:PSQL_SERVICE_NAME

      - name: Update path
        shell: pwsh
        env:
          PSQL_BIN_PATH: C:\Program Files\PostgreSQL\17\bin
        run: |
          $env:PSQL_BIN_PATH | Add-Content -Path $env:GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          echo "$PATH"
          make test-ci

  test-unix:
    name: Unix Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install postgres
        run: sudo apt-get install postgresql postgresql-client
      - name: Update path
        run: find /usr/lib/postgresql/ -type d -name "bin" >> $GITHUB_PATH
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        run: make test-ci

  doc:
    name: Documentation Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate documentation
        run: make doc

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Install postgres
        run: sudo apt-get install postgresql postgresql-client
      - name: Update path
        run: find /usr/lib/postgresql/ -type d -name "bin" >> $GITHUB_PATH
      - name: check path
        run: echo $PATH
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        run: rustup toolchain install stable --component llvm-tools
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: make coverage-ci
      - name: Upload coverage to coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
